@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --_grey1100: 26, 28, 32;
  --_grey1000: 42, 46, 52;
  --_grey900: 48, 53, 60;
  --_grey800: 60, 65, 74;
  --_grey700: 79, 87, 98;
  --_grey600: 101, 111, 125;
  --_grey500: 135, 144, 158;
  --_grey400: 173, 179, 189;
  --_grey300: 214, 217, 222;
  --_grey200: 232, 234, 237;
  --_grey100: 240, 241, 243;
  --_grey50: 247, 248, 249;
  --_grey25: 251, 251, 252;
  --_white: 255, 255, 255;
  --_purple1100: 50, 52, 82;
  --_purple1000: 59, 58, 112;
  --_purple900: 67, 65, 141;
  --_purple800: 76, 71, 171;
  --_purple700: 84, 77, 201;
  --_purple600: 95, 85, 238;
  --_purple500: 127, 119, 241;
  --_purple400: 153, 146, 244;
  --_purple300: 178, 173, 247;
  --_purple200: 204, 201, 250;
  --_purple100: 229, 228, 252;
  --_purple50: 242, 241, 254;
  --_neonBlue1100: 46, 55, 84;
  --_neonBlue1000: 50, 64, 117;
  --_neonBlue900: 54, 73, 149;
  --_neonBlue800: 59, 82, 182;
  --_neonBlue700: 63, 91, 214;
  --_neonBlue600: 68, 102, 255;
  --_neonBlue500: 105, 133, 255;
  --_neonBlue400: 135, 157, 255;
  --_neonBlue300: 165, 182, 255;
  --_neonBlue200: 195, 206, 255;
  --_neonBlue100: 225, 231, 255;
  --_neonBlue50: 240, 243, 255;
  --_azureBlue1100: 38, 62, 80;
  --_azureBlue1000: 34, 77, 107;
  --_azureBlue900: 30, 93, 135;
  --_azureBlue800: 25, 109, 162;
  --_azureBlue700: 21, 124, 190;
  --_azureBlue600: 16, 144, 224;
  --_azureBlue500: 64, 166, 230;
  --_azureBlue400: 102, 184, 235;
  --_azureBlue300: 140, 202, 240;
  --_azureBlue200: 179, 220, 245;
  --_azureBlue100: 217, 237, 250;
  --_azureBlue50: 236, 246, 253;
  --_teal1100: 38, 64, 69;
  --_teal1000: 33, 82, 86;
  --_teal900: 29, 99, 103;
  --_teal800: 25, 117, 120;
  --_teal700: 20, 135, 138;
  --_teal600: 15, 157, 159;
  --_teal500: 63, 177, 178;
  --_teal400: 101, 192, 194;
  --_teal300: 140, 208, 209;
  --_teal200: 178, 224, 224;
  --_teal100: 217, 239, 240;
  --_teal50: 231, 245, 245;
  --_mint1100: 45, 68, 66;
  --_mint1000: 48, 90, 80;
  --_mint900: 51, 112, 94;
  --_mint800: 54, 134, 108;
  --_mint700: 57, 156, 122;
  --_mint600: 61, 184, 139;
  --_mint500: 100, 198, 162;
  --_mint400: 131, 209, 181;
  --_mint300: 162, 221, 199;
  --_mint200: 193, 232, 218;
  --_mint100: 224, 244, 236;
  --_mint50: 240, 249, 246;
  --_green1125: 38, 53, 53;
  --_green1100: 35, 60, 55;
  --_green1000: 29, 75, 57;
  --_green900: 22, 89, 60;
  --_green800: 15, 104, 62;
  --_green700: 8, 118, 65;
  --_green600: 0, 136, 68;
  --_green500: 51, 160, 105;
  --_green400: 92, 179, 135;
  --_green300: 133, 198, 165;
  --_green200: 173, 217, 195;
  --_green100: 214, 236, 225;
  --_green50: 235, 245, 240;
  --_green25: 245, 250, 248;
  --_yellow1100: 75, 66, 44;
  --_yellow1000: 108, 87, 35;
  --_yellow900: 141, 107, 27;
  --_yellow800: 174, 128, 19;
  --_yellow700: 207, 148, 10;
  --_yellow600: 248, 174, 0;
  --_yellow500: 249, 190, 51;
  --_yellow400: 251, 203, 92;
  --_yellow300: 252, 216, 133;
  --_yellow200: 253, 229, 173;
  --_yellow100: 254, 242, 214;
  --_yellow50: 254, 249, 235;
  --_orange1100: 71, 56, 47;
  --_orange1000: 101, 66, 42;
  --_orange900: 130, 75, 38;
  --_orange800: 159, 85, 33;
  --_orange700: 188, 95, 28;
  --_orange600: 225, 107, 22;
  --_orange500: 231, 137, 69;
  --_orange400: 236, 160, 106;
  --_orange300: 241, 184, 143;
  --_orange200: 245, 208, 180;
  --_orange100: 250, 231, 218;
  --_orange50: 253, 243, 236;
  --_red1100: 69, 48, 55;
  --_red1000: 96, 51, 57;
  --_red900: 123, 53, 60;
  --_red800: 150, 55, 62;
  --_red700: 177, 58, 65;
  --_red600: 211, 61, 68;
  --_red500: 220, 100, 106;
  --_red400: 227, 131, 136;
  --_red300: 234, 162, 165;
  --_red200: 241, 193, 195;
  --_red100: 248, 224, 225;
  --_red50: 252, 239, 240;
  --_pink1100: 73, 54, 68;
  --_pink1000: 105, 61, 84;
  --_pink900: 136, 69, 100;
  --_pink800: 167, 77, 117;
  --_pink700: 199, 84, 133;
  --_pink600: 238, 94, 153;
  --_pink500: 241, 126, 173;
  --_pink400: 244, 152, 190;
  --_pink300: 247, 178, 206;
  --_pink200: 250, 204, 222;
  --_pink100: 252, 229, 239;
  --_pink50: 254, 242, 247;
  --_violet1100: 64, 54, 80;
  --_violet1000: 87, 62, 107;
  --_violet900: 109, 70, 135;
  --_violet800: 132, 78, 162;
  --_violet700: 154, 86, 190;
  --_violet600: 182, 96, 224;
  --_violet500: 197, 128, 230;
  --_violet400: 208, 153, 235;
  --_violet300: 220, 179, 240;
  --_violet200: 232, 204, 245;
  --_violet100: 243, 230, 250;
  --_violet50: 249, 242, 253;
  --_brown1100: 62, 61, 64;
  --_brown1000: 83, 76, 76;
  --_brown900: 103, 92, 88;
  --_brown800: 124, 107, 101;
  --_brown700: 144, 121, 113;
  --_brown600: 170, 141, 128;
  --_brown500: 187, 163, 153;
  --_brown400: 201, 182, 174;
  --_brown300: 214, 200, 194;
  --_brown200: 228, 219, 214;
  --_brown100: 241, 237, 235;
  --_brown50: 248, 246, 245;
  --_black1100: 0, 0, 0;
  --_black1000: 10, 11, 13;
  --_black900: 19, 21, 26;
  --_black800: 29, 32, 38;
  --_black700: 38, 42, 51;
  --_black600: 48, 53, 64;
  --_black500: 89, 93, 102;
  --_black400: 123, 126, 133;
  --_black300: 156, 158, 163;
  --_black200: 189, 190, 194;
  --_black100: 222, 223, 224;
  --_black50: 238, 239, 240;

  /* Colors */
  --grey1100: rgb(var(--_grey1100));
  --grey1000: rgb(var(--_grey1000));
  --grey1000-90: rgb(var(--_grey1000), 0.9);
  --grey1000-70: rgb(var(--_grey1000), 0.7);
  --grey1000-50: rgb(var(--_grey1000), 0.5);
  --grey1000-20: rgb(var(--_grey1000), 0.2);
  --grey1000-16: rgb(var(--_grey1000), 0.16);
  --grey1000-10: rgb(var(--_grey1000), 0.1);
  --grey1000-078: rgb(var(--_grey1000), 0.078);
  --grey900: rgb(var(--_grey900));
  --grey800: rgb(var(--_grey800));
  --grey700: rgb(var(--_grey700));
  --grey600: rgb(var(--_grey600));
  --grey500: rgb(var(--_grey500));
  --grey400: rgb(var(--_grey400));
  --grey300: rgb(var(--_grey300));
  --grey200: rgb(var(--_grey200));
  --grey100: rgb(var(--_grey100));
  --grey100-50: rgb(var(--_grey100), 0.5);
  --grey50: rgb(var(--_grey50));
  --grey25: rgb(var(--_grey25));
  --white: rgb(var(--_white));
  --white-90: rgb(var(--_white), 0.9);
  --white-80: rgb(var(--_white), 0.8);
  --white-50: rgb(var(--_white), 0.5);
  --white-20: rgb(var(--_white), 0.2);
  --white-16: rgb(var(--_white), 0.16);
  --white-10: rgb(var(--_white), 0.1);
  --white-078: rgb(var(--_white), 0.078);
  --white-069: rgb(var(--_white), 0.069);
  --green1125: rgb(var(--_green1125));
  --green1100: rgb(var(--_green1100));
  --green1000: rgb(var(--_green1000));
  --green900: rgb(var(--_green900));
  --green800: rgb(var(--_green800));
  --green700: rgb(var(--_green700));
  --green600: rgb(var(--_green600));
  --green500: rgb(var(--_green500));
  --green400: rgb(var(--_green400));
  --green300: rgb(var(--_green300));
  --green200: rgb(var(--_green200));
  --green100: rgb(var(--_green100));
  --green50: rgb(var(--_green50));
  --green25: rgb(var(--_green25));
  --yellow1100: rgb(var(--_yellow1100));
  --yellow1000: rgb(var(--_yellow1000));
  --yellow900: rgb(var(--_yellow900));
  --yellow800: rgb(var(--_yellow800));
  --yellow700: rgb(var(--_yellow700));
  --yellow600: rgb(var(--_yellow600));
  --yellow500: rgb(var(--_yellow500));
  --yellow400: rgb(var(--_yellow400));
  --yellow300: rgb(var(--_yellow300));
  --yellow200: rgb(var(--_yellow200));
  --yellow100: rgb(var(--_yellow100));
  --yellow50: rgb(var(--_yellow50));
  --red1100: rgb(var(--_red1100));
  --red1000: rgb(var(--_red1000));
  --red900: rgb(var(--_red900));
  --red800: rgb(var(--_red800));
  --red700: rgb(var(--_red700));
  --red600: rgb(var(--_red600));
  --red600-16: rgb(var(--_red600), 0.16);
  --red500: rgb(var(--_red500));
  --red500-16: rgb(var(--_red500), 0.16);
  --red400: rgb(var(--_red400));
  --red300: rgb(var(--_red300));
  --red200: rgb(var(--_red200));
  --red100: rgb(var(--_red100));
  --red50: rgb(var(--_red50));
  --purple1100: rgb(var(--_purple1100));
  --purple1000: rgb(var(--_purple1000));
  --purple900: rgb(var(--_purple900));
  --purple800: rgb(var(--_purple800));
  --purple700: rgb(var(--_purple700));
  --purple600: rgb(var(--_purple600));
  --purple600-16: rgb(var(--_purple600), 0.16);
  --purple500: rgb(var(--_purple500));
  --purple500-16: rgb(var(--_purple500), 0.16);
  --purple400: rgb(var(--_purple400));
  --purple300: rgb(var(--_purple300));
  --purple200: rgb(var(--_purple200));
  --purple100: rgb(var(--_purple100));
  --purple50: rgb(var(--_purple50));
  --neonBlue1100: rgb(var(--_neonBlue1100));
  --neonBlue1000: rgb(var(--_neonBlue1000));
  --neonBlue900: rgb(var(--_neonBlue900));
  --neonBlue800: rgb(var(--_neonBlue800));
  --neonBlue700: rgb(var(--_neonBlue700));
  --neonBlue600: rgb(var(--_neonBlue600));
  --neonBlue600-16: rgb(var(--_neonBlue600), 0.16);
  --neonBlue500: rgb(var(--_neonBlue500));
  --neonBlue500-16: rgb(var(--_neonBlue500), 0.16);
  --neonBlue400: rgb(var(--_neonBlue400));
  --neonBlue300: rgb(var(--_neonBlue300));
  --neonBlue200: rgb(var(--_neonBlue200));
  --neonBlue100: rgb(var(--_neonBlue100));
  --neonBlue50: rgb(var(--_neonBlue50));
  --azureBlue1100: rgb(var(--_azureBlue1100));
  --azureBlue1000: rgb(var(--_azureBlue1000));
  --azureBlue900: rgb(var(--_azureBlue900));
  --azureBlue800: rgb(var(--_azureBlue800));
  --azureBlue700: rgb(var(--_azureBlue700));
  --azureBlue600: rgb(var(--_azureBlue600));
  --azureBlue600-16: rgb(var(--_azureBlue600), 0.16);
  --azureBlue500: rgb(var(--_azureBlue500));
  --azureBlue500-16: rgb(var(--_azureBlue500), 0.16);
  --azureBlue400: rgb(var(--_azureBlue400));
  --azureBlue300: rgb(var(--_azureBlue300));
  --azureBlue200: rgb(var(--_azureBlue200));
  --azureBlue100: rgb(var(--_azureBlue100));
  --azureBlue50: rgb(var(--_azureBlue50));
  --teal1100: rgb(var(--_teal1100));
  --teal1000: rgb(var(--_teal1000));
  --teal900: rgb(var(--_teal900));
  --teal800: rgb(var(--_teal800));
  --teal700: rgb(var(--_teal700));
  --teal600: rgb(var(--_teal600));
  --teal600-16: rgb(var(--_teal600), 0.16);
  --teal500: rgb(var(--_teal500));
  --teal500-16: rgb(var(--_teal500), 0.16);
  --teal400: rgb(var(--_teal400));
  --teal300: rgb(var(--_teal300));
  --teal200: rgb(var(--_teal200));
  --teal100: rgb(var(--_teal100));
  --teal50: rgb(var(--_teal50));
  --mint1100: rgb(var(--_mint1100));
  --mint1000: rgb(var(--_mint1000));
  --mint900: rgb(var(--_mint900));
  --mint800: rgb(var(--_mint800));
  --mint700: rgb(var(--_mint700));
  --mint600: rgb(var(--_mint600));
  --mint600-16: rgb(var(--_mint600), 0.16);
  --mint500: rgb(var(--_mint500));
  --mint500-16: rgb(var(--_mint500), 0.16);
  --mint400: rgb(var(--_mint400));
  --mint300: rgb(var(--_mint300));
  --mint200: rgb(var(--_mint200));
  --mint100: rgb(var(--_mint100));
  --mint50: rgb(var(--_mint50));
  --orange1100: rgb(var(--_orange1100));
  --orange1000: rgb(var(--_orange1000));
  --orange900: rgb(var(--_orange900));
  --orange800: rgb(var(--_orange800));
  --orange700: rgb(var(--_orange700));
  --orange600: rgb(var(--_orange600));
  --orange600-16: rgb(var(--_orange600), 0.16);
  --orange500: rgb(var(--_orange500));
  --orange500-16: rgb(var(--_orange500), 0.16);
  --orange400: rgb(var(--_orange400));
  --orange300: rgb(var(--_orange300));
  --orange200: rgb(var(--_orange200));
  --orange100: rgb(var(--_orange100));
  --orange50: rgb(var(--_orange50));
  --pink1100: rgb(var(--_pink1100));
  --pink1000: rgb(var(--_pink1000));
  --pink900: rgb(var(--_pink900));
  --pink800: rgb(var(--_pink800));
  --pink700: rgb(var(--_pink700));
  --pink600: rgb(var(--_pink600));
  --pink600-16: rgb(var(--_pink600), 0.16);
  --pink500: rgb(var(--_pink500));
  --pink500-16: rgb(var(--_pink500), 0.16);
  --pink400: rgb(var(--_pink400));
  --pink300: rgb(var(--_pink300));
  --pink200: rgb(var(--_pink200));
  --pink100: rgb(var(--_pink100));
  --pink50: rgb(var(--_pink50));
  --violet1100: rgb(var(--_violet1100));
  --violet1000: rgb(var(--_violet1000));
  --violet900: rgb(var(--_violet900));
  --violet800: rgb(var(--_violet800));
  --violet700: rgb(var(--_violet700));
  --violet600: rgb(var(--_violet600));
  --violet600-16: rgb(var(--_violet600), 0.16);
  --violet500: rgb(var(--_violet500));
  --violet500-16: rgb(var(--_violet500), 0.16);
  --violet400: rgb(var(--_violet400));
  --violet300: rgb(var(--_violet300));
  --violet200: rgb(var(--_violet200));
  --violet100: rgb(var(--_violet100));
  --violet50: rgb(var(--_violet50));
  --brown1100: rgb(var(--_brown1100));
  --brown1000: rgb(var(--_brown1000));
  --brown900: rgb(var(--_brown900));
  --brown800: rgb(var(--_brown800));
  --brown700: rgb(var(--_brown700));
  --brown600: rgb(var(--_brown600));
  --brown600-16: rgb(var(--_brown600), 0.16);
  --brown500: rgb(var(--_brown500));
  --brown500-16: rgb(var(--_brown500), 0.16);
  --brown400: rgb(var(--_brown400));
  --brown300: rgb(var(--_brown300));
  --brown200: rgb(var(--_brown200));
  --brown100: rgb(var(--_brown100));
  --brown50: rgb(var(--_brown50));
  --black1100: rgb(var(--_black1100));
  --black1100-055: rgb(var(--_cu_black1100), 0.055);
  --black1000: rgb(var(--_black1000));
  --black900: rgb(var(--_black900));
  --black800: rgb(var(--_black800));
  --black700: rgb(var(--_black700));
  --black600: rgb(var(--_black600));
  --black600-16: rgb(var(--_black600), 0.16);
  --black500: rgb(var(--_black500));
  --black500-16: rgb(var(--_black500), 0.16);
  --black400: rgb(var(--_black400));
  --black300: rgb(var(--_black300));
  --black200: rgb(var(--_black200));
  --black100: rgb(var(--_black100));
  --black50: rgb(var(--_black50));

  --content-primary: var(--black1100);
  --content-secondary: var(--grey800);
  --content-tertiary: var(--grey600);
  --content-shadow: 0px 2px 16px #0006;
  --content-border-color: rgba(0, 0, 0, 0.1);
  --content-border-radius: 0.5rem;

  --background-main: var(--white);
  --background-main-dark: var(--grey200);
  --background-main-hover: var(--grey50);
  --background-main-hover-strong: var(--grey300);
  --background-menu: var(--white);

  --sidebar-width-open: 250px;
  --sidebar-width-closed: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: var(--content-primary);
}

a,
button {
  color: var(--content-primary);
}

[data-theme="dark"] {
  --background-main: var(--grey1000);
  --background-main-dark: rgb(30, 32, 36);
  --background-main-hover: var(--grey800);
  --background-main-hover-strong: var(--grey900);
  --background-menu: var(--grey900);

  --content-primary: var(--grey100);
  --content-secondary: var(--grey400);
  --content-tertiary: var(--grey600);
  --content-border-color: rgba(255, 255, 255, 0.1);
}

/* Estilos para la barra de scroll */
::-webkit-scrollbar {
  width: 10px;
  /* Ancho de la barra de scroll vertical */
  height: 10px;
  /* Altura de la barra de scroll horizontal */
  opacity: 0;
  /* Oculta la barra inicialmente */
  transition: opacity 0.3s ease;
  /* Transición suave */
}

/* Color de fondo de la barra de scroll */
::-webkit-scrollbar-track {
  background-color: var(--white-10);
  /* Fondo de la pista */
  border-radius: 10px;
}

/* Color y estilo del "thumb" (la parte que se mueve en la barra) */
::-webkit-scrollbar-thumb {
  background-color: var(--white-10);
  /* Color del "thumb" */
  border-radius: 10px;
}

/* Color cuando el "thumb" está siendo activamente arrastrado */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Cambia el color cuando el cursor pasa por encima */
}

*::-webkit-scrollbar:active,
*::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}